<div class="col-md-8">
  <!-- Start Carousel Section -->
  <div class="home-slider">
    <!-- Indicators -->
      <table class="main_column">
      <% @blogs.each do |blog| %>
        <tr>
          <td class="col-md-2"><%= link_to blog.idol.name, idol_path(blog.idol.id) %></td>
          <td class="col-md-7"><%= link_to Rumoji.decode(blog.title), blog.url %></td>
          <td class="col-md-3"><%= format_datetime blog.datetime %></td>
        </tr>
      <% end %>
      </table>
  </div>
  <!-- Start Carousel Section -->
  <div class="row">
    <div class="col-md-3">
      <div class="menu-item responsive">
        <a href="#service-modal" data-toggle="modal">
          <%= image_tag "akb_logo/NMB_logo.jpg" %>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="menu-item responsive">
        <a href="#service-modal" data-toggle="modal">
          <%= image_tag "akb_logo/SKE_logo.jpg" %>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="menu-item responsive-2">
        <a href="#team-modal" data-toggle="modal">
          <%= image_tag "akb_logo/HKT_logo.jpg" %>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="menu-item responsive-2">
        <a href="#team-modal" data-toggle="modal">
          <%= image_tag "akb_logo/OG_logo.png" %>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="col-md-2">
  <div class="menu-item blue">
    <a href="#feature-modal" data-toggle="modal">
      <i class="fa fa-magic"></i>
      <p>Feature</p>
    </a>
  </div>
  <div class="menu-item green">
    <a href="#portfolio-modal" data-toggle="modal">
      <i class="fa fa-file-photo-o"></i>
      <p>Portfolio</p>
    </a>
  </div>
  <div class="menu-item">
    <a href="#about-modal" data-toggle="modal">
        <%= image_tag "akb_logo/AKB_logo.jpg" %>
    </a>
  </div>
</div>
<div class="col-md-2">
  <div class="menu-item light-red">
    <a href="#contact-modal" data-toggle="modal">
      <i class="fa fa-envelope-o"></i>
      <p>お問い合わせ</p>
    </a>
  </div>
  <div class="menu-item color">
    <a href="#testimonial-modal" data-toggle="modal">
      <i class="fa fa-comment-o"></i>
      <p>Testimonial</p>
    </a>
  </div>
  <div class="menu-item">
    <a href="#news-modal" data-toggle="modal">
          <%= image_tag "akb_logo/nogi_logo.jpg" %>
    </a>
  </div>
</div>
