<div class="row">
  <div class="col-md-12">
    <div class="col-md-2">
      <div class="menu-item">
        <%= link_to akb_idol_index_path do %>
          <%= image_tag "akb_logo/AKB_logo.jpg" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="menu-item responsive">
        <%= link_to ske_idol_index_path do %>
          <%= image_tag "akb_logo/SKE_logo.jpg" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="menu-item responsive">
        <%= link_to nmb_idol_index_path do %>
          <%= image_tag "akb_logo/NMB_logo.jpg" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="menu-item responsive-2">
        <%= link_to hkt_idol_index_path do %>
          <%= image_tag "akb_logo/HKT_logo.jpg" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="menu-item responsive-2">
        <%= link_to og_idol_index_path do %>
          <%= image_tag "akb_logo/OG_logo.png" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="menu-item">
        <%= link_to nogizaka_idol_index_path do %>
          <%= image_tag "akb_logo/nogi_logo.jpg" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
