<div class="row">
  <div class="col-md-12">
    <div class="col-md-2">
      <div class="menu-item">
        <%= link_to controller: :top, action: :akb do %>
          <%= image_tag "akb_logo/AKB_logo.jpg" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="menu-item responsive">
        <%= link_to controller: :top, action: :ske do %>
          <%= image_tag "akb_logo/SKE_logo.jpg" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="menu-item responsive">
        <%= link_to controller: :top, action: :nmb do %>
          <%= image_tag "akb_logo/NMB_logo.jpg" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="menu-item responsive-2">
        <%= link_to controller: :top, action: :hkt do %>
          <%= image_tag "akb_logo/HKT_logo.jpg" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="menu-item responsive-2">
        <%= link_to controller: :top, action: :og do %>
          <%= image_tag "akb_logo/OG_logo.png" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="menu-item">
        <%= link_to controller: :top, action: :nogizaka do %>
          <%= image_tag "akb_logo/nogi_logo.jpg" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
